@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-work-sans {
  font-family: 'Work Sans', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.isTyping {
  width: 40px;
  justify-content: space-around;
  display: flex;
}

.jump1,
.jump2,
.jump3 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: gray;
}

.jump1 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.1s;
}

.jump2 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.2s;
}

.jump3 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.3s;
}

@keyframes typing {
  0% {
      transform: translateY(0px);
  }

  25% {
      transform: translateY(0px);
  }

  35% {
      transform: translateY(10px);
  }

  45% {
      transform: translateY(0px);
  }

  60% {
      transform: translateY(-10px);
  }

  75% {
      background-color: #f4f4f4;
      transform: translateY(0px);
  }

  100% {
      transform: translateY(0px);
  }
}